*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navigation{
    background: rgb(145, 145, 231);   
}
ul{
    display: flex;
    list-style: none;
    justify-content:space-between ;
    width: 100%;    
    padding: 20px;
}
li{
    text-decoration: none;
    text-transform: capitalize;
    color: bisque;
    font-weight: bolder;
    font-size: large;
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.info{
    background: rgb(233, 153, 6);
    text-align: center;
    padding: 8px;
}
.diseign{
    background: blue;
    width: 100%;
    height: 30px;
}